
.grid-container {
  display:grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin-top: 4em;
  min-width: 800px;
  width: auto !important;
  width: 800px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    
  width: relative;
  height: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  /*padding: 2px 16px;*/
  height: 150px;
  text-align: center;
}

.deleteBook {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: red;
  text-align: center;
  width: 75px;
  height: 40px;
  border-radius: 5px;
}

/*    FORM POPUP COPYPASTA    */

* {
  box-sizing: border-box;
}
.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #a5a5a5;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  cursor: pointer;
  position: relative;
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}